<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <style>
        body {
            background-color: rgb(136, 243, 255);
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Student Form</h1>
    <form method="post" action="/addData">
        <table border="2" align="center">
            <tr>
                <td>Id</td>
                <td><input type="number" name="id"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>

    <h2 style="text-align: center;">Student List</h2>
    <table border="2" align="center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% student.map((item)=> { %>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <%= item.name %>
                    </td>
                    <td>
                        <%= item.email %>
                    </td>
                    <td>
                        <%= item.phoneNo %>
                    </td>
                    <td>
                        <a href="/edit?id=<%= item.id %>">Edit</a>
                        <a href="/delete?id=<%= item.id %>">Delete</a>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>